@import './imports/variables.less';

.card-section {
    &:first-of-type h4 {
        border-top: 0;
    }

    h4 {
        border-top: 1px solid #cecece;
        border-bottom: 1px solid #cecece;
        margin: 0;
        padding: @padding-base;
        text-align: left;
    }
}
