@import './imports/variables.less';
@import './imports/buttons.less';

.fixture {
    div {
        display: inline-block;
        vertical-align: middle;
    }

    .team-crest img {
        height: @padding-base * 5;
        width: @padding-base * 5;
    }
}
