@import './variables.less';

.btn {
    background-color: @brand-color;
    border: 2px solid @grey-base ;
    // color: @grey-base;
    font-size: 1.1em;
    padding: @padding-small @padding-large * 2;
}
